<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ReportMRPEntities" connectionString="metadata=res://*/ReportMRPModel.csdl|res://*/ReportMRPModel.ssdl|res://*/ReportMRPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THAS-REPORT01\THOMPSONSQL;initial catalog=Shortage;user id=sa;password=ConnectUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ReportDbEntities" connectionString="metadata=res://*/ReportDB.csdl|res://*/ReportDB.ssdl|res://*/ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THAS-REPORT01\THOMPSONSQL;initial catalog=ConnectDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="thas01Entities" connectionString="metadata=res://*/ReportMRPModel.csdl|res://*/ReportMRPModel.ssdl|res://*/ReportMRPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THAS-REPORT01\THOMPSONSQL;initial catalog=Shortage;persist security info=True;user id=sa;password=ConnectUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectDbEntities" connectionString="metadata=res://*/ThompsonModel.csdl|res://*/ThompsonModel.ssdl|res://*/ThompsonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thas-sql02\;initial catalog=ConnectDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Trace" internalLogFile="\\thas-report01/ShortageReports/Logging/NLogInternal.txt" autoReload="true" throwExceptions="true">
    &gt;
    <targets async="false"><target name="appTarget" xsi:type="File" fileName="\\thas-report01/ShortageReports/Logging/Logs/ShortageReportsLog_${date:format=ddMMyyyy}.txt" createDirs="true" layout="${level} --- ${time} --- ${message}${newline}" /><target name="appMail" xsi:type="Mail" html="true" subject="Error Sent From NLog" body="${message}" from="tasconnect.daemon@thompsonaero.com" to="chris.weeks@thompsonaero.com" Encoding="UTF-8" smtpServer="10.50.1.9" smtpUsername="Chris.weeks@thompsonaero.com" smtpPort="25" smtpAuthentication="None" enableSsl="false" /></targets><rules><logger name="appLogger" minlevel="Info" writeTo="appTarget" /><logger name="appMailer" level="Error" writeTo="appMail" /></rules></nlog>
</configuration>